header{
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 100px 100px 100px 100px 100px 100px 100px 100px; 
    margin: 10px 120px;
}

header button{
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    background-color: Transparent;
    justify-self: end;
    border: none;
    align-self: center;  
    
}



.home{
    font-family: 'Antonio', sans-serif;
    justify-self: start;
    font-size: 28px;
}
